<img src="{{ '/assets/img/photo.png' | relative_url }}" alt="Photo of Manish Oza" class="photo" />
<h1>Manish Oza</h1>
<p class="position">Assistant Professor, Faculty of Law<br>University of Western Ontario (cross-appointed to Philosophy)</p>
<div class="sidebar-links">
  <a href="mailto:moza@uwo.ca">Email</a>
  <a href="/assets/pdf/MOza_CV.pdf">CV</a>
  <a href="https://philpeople.org/profiles/manish-oza">PhilPapers</a>
  <a href="https://scholar.google.com/citations?user=X_iTgF0AAAAJ&hl=en">Google Scholar</a>
  <a href="https://www.goodreads.com/user/show/75823404-manish-oza">Goodreads</a>
</div>
